@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/valorant');

@font-face {
  font-family: 'Valorant';
  src: url('/fonts/Valorant-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Valorant Font', 'VALORANT', sans-serif !important;
  min-height: 100vh;
  overflow-x: hidden;
  cursor: url("/images/crosshair.png") 16 16, crosshair;
}

/* Optional — highlight effect */
::selection {
  background: #dc2626;
  color: white;
}